<ion-view title="Login" hide-back-button="true" hide-nav-bar="true">

    <ion-content has-header="true" padding="true">


            <button id="fBook" class="button button-block button-light" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>
            <script type="text/javascript">
                var curl = document.URL;
               document.getElementById('url').innerHTML = curl;

            </script>
            <h1 id="url"></h1>



    </ion-content>

</ion-view>