<ion-view title="My Skin">
  <ion-content>
    <!-- INSERT HERE -->
    <header id="pics">
      <div id="coverPic" >
      </div>

      <div id= "profilePic" align="center">
      </div>
    </header>


    <div id="navButtons" align="center">
      <table>
        <tr>
          <td><button  class="profButton button button-light">
            All
          </button></td>
          <td><button    class="profButton button button-light">
            Photos
          </button></td>
          <td><button  class="profButton button button-light">
            Ideas
          </button></td>
        </tr></table>
    </div>

    <div id ="profFeed" class="list card" ng-repeat="t in items">

      <div class="item item-avatar">
        <img src="http://media-cache-ak0.pinimg.com/236x/92/18/a7/9218a7f582f6981c6f0f65cdf3bb4c29.jpg">
        <a href="/skin?uname={{userName}}"><h2> {{ userName }}</h2></a>
        <p>November 05, 1955 (HARDCODE)</p>
      </div>

      <div class="item item-body">
        <img class="full-image" src="{{t.urlRef}}">
        <p>
          <!-- {{ t.post }} -->
          Post Goes Here (HARD)
        </p>
        <p>
          <a href="#" class="subdued">1 Like (HARD)</a>
          <a href="#" class="subdued">5 Comments(HARD)</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Fav
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Re-Ink
        </a>
      </div>

    </div>






    <!-- END INSERT -->
  </ion-content>
</ion-view>
