<ion-view title="Explore">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>

        </div>
        <div class="button-bar" align="center">
            <a class="button ion-android-star" style="background-color: #cccccc"> Popular Now</a>
            <a class="button ion-arrow-up-a" style="background-color: #99cccc">On The Rise</a>
        </div><br/>

        <p align="center">Channels</p>

        <div id="ExploreButtons" >
            <button class="button button-block" style="background-color: #003399; color:white">
                Abstract
            </button>

            <button class="button button-block" style="background-color: #E06C26">
                Surrealist
            </button>

            <button class="button button-block" style="background-color: #99cccc">
                Religious
            </button>

            <button class="button button-block" style="background-color: #474647;color:white">
                Black & White
            </button>

            <button class="button button-block" style="background-color: #cccccc">
                Realistic
            </button>

        </div>

    </ion-content>
</ion-view>
