<ion-view title="Explore">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>

        </div>
        <div class="button-bar" align="center" style="box-shadow:10px 10px 5px #888888";>
            <a class="button ion-android-star" style="background-color: #FFFFFF" > Popular Now</a>
            <a class="button ion-arrow-up-a" style="background-color: #00FFFF">On The Rise</a>
        </div><br/>

        <div class="list">
            <a class="item item-thumbnail-left" id="listitem1">
                <h2 id="listitemh2"><font size="7" color="white">Abstract</font></h2>
                <i class="ion-arrow-right-c" id="rightarrow"></i>
            </a>
        </div>

        <div class="list">
            <a class="item item-thumbnail-left" id="listitem2">
                <h2 id="listitemh2"><font size="7" color="white">Surrealist</font></h2>
                <i class="ion-arrow-right-c" id="rightarrow"></i>
            </a>
        </div>

        <div class="list">
            <a class="item item-thumbnail-left" id="listitem3">
                <h2 id="listitemh2"><font size="7" color="white">Religious</font></h2>
                <i class="ion-arrow-right-c" id="rightarrow"></i>
            </a>
        </div>

        <div class="list">
            <a class="item item-thumbnail-left" id="listitem4">
                <h2 id="listitemh2"><font size="7" color="white">Black and White</font></h2>
                <i class="ion-arrow-right-c" id="rightarrow"></i>
            </a>
        </div>

        <div class="list">
            <a class="item item-thumbnail-left" id="listitem5">
                <h2 id="listitemh2"><font size="7" color="white">Religious</font></h2>
                <i class="ion-arrow-right-c" id="rightarrow"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
